<div class="d-flex p-4">
  <form *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <!--
    <app-input
      [inputId]="'name'"
      [inputFormControlName]="'name'"
      [inputSize]="'small'"
      [inputStatus]="'default'"
      [inputType]="'text'"
      [inputPlaceholder]="'Enter your name'"
    >
    </app-input>
    <div class="mt-2">
      <app-input
        [inputId]="'age'"
        [inputFormControlName]="'age'"
        [inputSize]="'small'"
        [inputStatus]="'default'"
        [inputType]="'number'"
        [inputPlaceholder]="'Enter your age'"
      >
      </app-input>
    </div>
    -->

    <input type="text" formControlName="name" placeholder="Name" />
    <input
      type="email"
      formControlName="email"
      placeholder="Email"
      class="mt-2"
    />
    <input
      type="password"
      formControlName="password"
      placeholder="Password"
      class="mt-2"
    />
    <input type="number" formControlName="age" placeholder="Age" class="mt-2" />

    <div class="mt-2">
      <!--<app-button [buttonIsDisabled]="!myForm.valid" (clickEvent)="onSubmit()">
      </app-button>-->
      <button [disabled]="myForm.invalid" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>
