:host {
  display: flex;
  &[disabled] {
    pointer-events: none;
  }
}

.sma-input {
  width: 100%;
  color: var(--sma-text-color--dark-body-text);
  font-family: var(--sma-font-family--body);
  font-weight: var(--sma-font-weight--400);
  padding: {
    top: var(--sma-rem-value--5);
    bottom: var(--sma-rem-value--5);
  }
  border: {
    width: 1px;
    style: solid;
    radius: var(--sma-radius--round-6);
  }
  background-color: var(--sma-bg-color--white);
  box-shadow: var(--sma-box-shadow--input);

  &:focus {
    outline: none;
  }

  // Size
  &.sma-input--size-small {
    height: var(--sma-rem-value--28);
    padding-left: var(--sma-rem-value--10);
    font-size: var(--sma-rem-value--10);
    line-height: var(--sma-rem-value--10);
  }
  &.sma-input--size-medium {
    height: var(--sma-rem-value--38);
    padding-left: var(--sma-rem-value--13);
    font-size: var(--sma-rem-value--13);
    line-height: var(--sma-rem-value--13);
  }
  &.sma-input--size-large {
    height: var(--sma-rem-value--48);
    padding-left: var(--sma-rem-value--15);
    font-size: var(--sma-rem-value--15);
    line-height: var(--sma-rem-value--15);
  }

  // Status
  &.sma-input--status-default {
    border-color: var(--sma-color--white);
    &.sma-input--size-small {
      padding-right: var(--sma-rem-value--10);
    }
    &.sma-input--size-medium {
      padding-right: var(--sma-rem-value--13);
    }
    &.sma-input--size-large {
      padding-right: var(--sma-rem-value--15);
    }
    &::placeholder {
      color: var(--sma-color--gray-400);
    }
  }
  &:not(.sma-input--status-default) {
    background-position-y: center;
    background-repeat: no-repeat;
    &.sma-input--size-small {
      padding-right: var(--sma-rem-value--30);
      background-position-x: calc(100% - var(--sma-rem-value--12));
      background-size: var(--sma-rem-value--12) var(--sma-rem-value--12);
    }
    &.sma-input--size-medium {
      padding-right: var(--sma-rem-value--38);
      background-position-x: calc(100% - var(--sma-rem-value--14));
      background-size: var(--sma-rem-value--14) var(--sma-rem-value--14);
    }
    &.sma-input--size-large {
      padding-right: var(--sma-rem-value--46);
      background-position-x: calc(100% - var(--sma-rem-value--16));
      background-size: var(--sma-rem-value--16) var(--sma-rem-value--16);
    }
  }
  &.sma-input--status-success {
    border-color: var(--sma-color--success);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill='%2394D14E' d='M443.3 100.7c6.2 6.2 6.2 16.4 0 22.6l-272 272c-6.2 6.2-16.4 6.2-22.6 0l-144-144c-6.2-6.2-6.2-16.4 0-22.6s16.4-6.2 22.6 0L160 361.4 420.7 100.7c6.2-6.2 16.4-6.2 22.6 0z' /></svg>");
    &::placeholder {
      color: var(--sma-color--success-light);
    }
  }
  &.sma-input--status-danger {
    border-color: var(--sma-color--danger);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill='%23FF4C4C' d='M256 32a224 224 0 1 1 0 448 224 224 0 1 1 0-448zm0 480A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c-8.8 0-16 7.2-16 16V272c0 8.8 7.2 16 16 16s16-7.2 16-16V144c0-8.8-7.2-16-16-16zm24 224a24 24 0 1 0 -48 0 24 24 0 1 0 48 0z'/></svg>");
    &::placeholder {
      color: var(--sma-color--danger-light);
    }
  }

  // Not disabled / Disabled
  &:not(.sma-input--disabled) {
    cursor: text;
    opacity: var(--sma-opacity--1);
  }
  &.sma-input--disabled {
    cursor: default;
    pointer-events: none;
    opacity: var(--sma-opacity--05);
  }

}
